
<div id="footer-theme" class="theme">
	<!--
    <div class="footer-menu">
        <h4>NEWS</h4>
        <ul>
			{{ navigation:links group="news" }}
        </ul>
    </div>
    <div class="footer-menu">
        <h4>FAQ</h4>
        <ul>
			{{ navigation:links group="faq" }}
        </ul>
    </div>
    <div class="footer-menu">
        <h4>ABOUT US</h4>
        <ul>
			{{ navigation:links group="about-us" }}
        </ul>
    </div>
    -->
    
    <div class="footer-menu" style="margin:0;">
		<div id="sinarmas"><img src="{{ theme:image_path }}sinarmas-logo.png" style="width:130px" /></div>
    </div>
    
    <div class="footer-menu right clearfix" style="text-align:center;">
    	<div style="text-align:center; color:#FFF;margin:10px 20px; float:left;">
			<a href="http://selfcare.cepat.net.id"><img src="{{ theme:image_path }}selfcare.png" style="width:80px;" /></a>
			<p style="padding:0; line-height:1em;">
				<strong>Selfcare</strong><br/>
				<span style="font-size:13px; color:#FFF;">Informasi Tagihan</span>
			</p>
		</div> 
		<div style="text-align:center; color:#FFF;margin:10px 20px; float:left;">
			<a href="{{ url:site }}contact"><img src="{{ theme:image_path }}cs.png" style="width:80px;"/></a>
			<p style="padding:0; line-height:1em;">
				<strong>Customer Care</strong><br/>
				<span style="font-size:13px; color:#FFF;">[ 021 ] 3199 8600</span>
			</p>
		</div>
    </div>
    
    <div class="clear"></div>
    
    <div id="copy">Copyright &copy; <?php echo date('Y'); ?> Homelinks. All Rights Reserved</div>
</div>

    
<!-- Begin scripts -->	
	{{ theme:js file="main.js" }}
	
	<!-- Module Metadata -->
		{{ epg:metadata }}
	<!-- End Module Metadata -->
<!-- End scripts -->