
<div id="footer-theme" class="theme">
	
    <div class="footer-menu">
        <h4>NEWS</h4>
        <ul>
			{{ navigation:links group="news" }}
        </ul>
    </div>
    <div class="footer-menu">
        <h4>FAQ</h4>
        <ul>
			{{ navigation:links group="faq" }}
        </ul>
    </div>
    <div class="footer-menu">
        <h4>ABOUT US</h4>
        <ul>
			{{ navigation:links group="about-us" }}
        </ul>
    </div>
    <div class="footer-menu">
        
    </div>
    <div class="footer-menu right" style="text-align:center;">
		<div style="text-align:center; color:#FFF;margin:10px 0;">
			<a href="{{ url:site }}contact"><img src="{{ theme:image_path }}cs.png" style="width:80px;"/></a>
			<p style="padding:0;">
				<strong>Customer Care</strong><br/>
				<span style="font-size:1.2em; font-weight:bold; color:#FFF; line-height:1em">[ 021 ] 3199 8600</span>
			</p>
		</div>
    	<div id="copy">Copyright &copy; <?php echo date('Y'); ?> Innovate Indonesia. All Rights Reserved</div>
    </div>
    <div class="clear"></div>
    
	<div id="sinarmas"><img src="{{ theme:image_path }}sinarmas-logo.png" style="width:130px" /></div>
</div>

    
<!-- Begin scripts -->	
	{{ theme:js file="main.js" }}
	
	<!-- Module Metadata -->
		{{ epg:metadata }}
	<!-- End Module Metadata -->
<!-- End scripts -->