<!-- Slideshow HTML -->
<div id="mod-promo" style="text-align:center; margin:0;">
	<img alt="" src="{{theme:image_path}}themes/home.jpg" style="width:100%; max-width:980px; margin:0 auto;" />
</div>
<!-- Slideshow HTML -->

<!-- <div id="announcment" class="running-text" style="padding:15px 0 5px 0; text-align:center; background:#EEE; color:#777; font-size:12px;"> -->
<!-- 	<marquee behavior="scroll" direction="left">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</marquee> -->
<!-- </div> -->

<div id="body-wrapper">	
	{{ epg:featured limit="11" category="Movies" }}

	{{ epg:featured limit="11" category="Movie Series" }}
	
	{{ theme:partial name="home_utility" }}
</div>