@import 'theme.css';
@import 'reset.css';
@import 'typo.css';
@import 'scrollbar.css';

/* General */


.coming-soon{
	position:relative;
	margin:0 auto;
	width:90%;
}

.rotate{
	/* Safari */
	-webkit-transform: rotate(-90deg);
	
	/* Firefox */
	-moz-transform: rotate(-90deg);
	
	/* IE */
	-ms-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg);
	
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.left{float:left !important;}

.right{float:right !important;}

.clear{clear:both;}

.clearfix:after{content: "."; display: block; height: 0; clear: both;  visibility: hidden;}

.list-inline li{display:inline; margin:0 10px}

.hide{display:none}

body{background:#FFF}

.wrapper{width:100%; margin:0 auto;}

footer{margin-top:40px;}


div.input{margin:0; padding:0; width:auto;}
form input, form textarea, form select{border:1px solid #DDD; padding:8px 10px; border-radius:3px; font-family:"Arial", Helvetica, Tahoma, sans-serif; color:#333; font-size:12px}
form input:focus, form textarea:focus{border:1px solid #39C; box-shadow:0 0 3px #39C;}
form label{color:#888; font-size:13px;}

small{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:11px;
}


.ads{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 200px;
}

/* --------------------------------------------Header------------------------------------- */

header{
	background-image:url(../img/themes/header-default.png);
	background-repeat:no-repeat;
	background-position:260px center;
	background-color:rgba(255,255,255,0);
/* 	box-shadow:1px 0 1px #999; */
	position:fixed; top:0; left:0;
	height:80px;
	z-index:99999;
	
	-moz-transition: box-shadow .75s ease-out, background-color 1s ease-out;
    -webkit-transition: box-shadow .75s ease-out, background-color 1s ease-out;
    -ms-transition: box-shadow .75s ease-out, background-color 1s ease-out;
    -o-transition: box-shadow .75s ease-out, background-color 1s ease-out;
	transition: box-shadow .75s ease-out, background-color 1s ease-out;
}

/* Site Logo */
header #logo{width:120px; height:38px; float:left; margin:20px 40px 20px 20px;}
header #logo h1 {
	width:120px; height:38px; 
	background-image:url(../img/themes/innovate.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}
header #logo h1 a{display:block; text-indent:-9999px;}

/* Nav */

#navigation{width:80%; float:right}
#navigation #menu{margin:41px 0 0; padding:0}

#navigation #menu ul#main-menu{
	position:relative;
	list-style: none outside none
	margin:0; padding:0;	
}

#navigation #menu ul#main-menu > li{
	position:relative;
	list-style: none outside none;
	float:left;
	margin:0 20px 0 0; padding	
}

#navigation #menu ul#main-menu > li:hover a, #navigation #menu ul#main-menu > li.current a{
	color:#ED2024;
}

#navigation #menu ul#main-menu li a{
	color: #999;
    display: block;
	font-size:15px;
    float: none;
    line-height: 19px;
    padding: 10px 10px;
    text-decoration: none;
}

#navigation #menu ul#main-menu li.has_children > a:after{
	border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #39C;
    content: "&darr";
    display: inline-block;
    height: 0;
    margin-left: 4px;
    margin-top: 8px;
    opacity: 0.5;
    overflow: hidden;
    text-indent: -99999px;
    vertical-align: top;
    width: 0;
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown{
	display:none;
/* 	background: rgba(51,153,204,.95); */
	min-width:120px;
	max-width:280px;
	overflow:hidden;
	position:absolute;
	z-index:1;
	border-top: 1px solid #CCC;
	box-shadow:0 1px 3px rgba(0,0,0,.35);
	opacity:.95;
	border-radius: 0 0 5px 5px;
	
	background:#ED2024;
}

#navigation #menu ul#main-menu li.has_children:hover > ul.dropdown{
/* 	display:block; */
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li:first-child{
	border-top:none;
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li{
	margin:0;
	padding:0;
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li:last-child{
	border-bottom:none;
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li a{
	color:#FFF;
	font-size:13px;	
}

#navigation #menu ul#main-menu li.has_children > ul.dropdown li:hover{background:#FFF;}
#navigation #menu ul#main-menu li.has_children > ul.dropdown li:hover a{color:#ED2024;}


/* Breadcrumbs */
#breadcrumbs{
	background:#FFF;
	border-top:1px dotted #EEE;
	position:relative;
	margin:0 auto 0 auto; padding:0 0 5px 0;
	padding-left:20px;	
	color:#999;
}

#breadcrumbs *{
	font-family:Helvetica, Arial, Tahoma, sans-serif;
	font-size:11px;
	font-weight:bold;
}

#breadcrumbs .current{
	color:#39A;
}



/* --------------------------------------------Content------------------------------------- */

#content{margin-top:0; background:none; position:relative; font-size:14px;}
body.home #content{margin-top:80px; min-height:390px;}

#body-theme{
	width:100%; 
	margin:0 auto;  
	min-height:400px;
	background:url(../img/themes/homebody-bg.png) right bottom no-repeat;
	background-size:auto 400px;
}


#body-wrapper{width:90%; min-width:960px; margin:0 auto; padding:80px 0 40px 0;}
body.products #body-wrapper{color:#333; font-size:14px; margin:20px auto 0 auto; padding:0 0 40px;}

.featured{margin:0 auto;}
.featured h4{
	color:#999;
}

.home #body-wrapper{
	width:90%;
	position:relative; 
	margin:0 auto 0 auto; 
	z-index:9000;
	padding-top:0;
}


/* Promo Slideshow */
.orbit-slider{
	width:100%;
	height:400px;
}

.orbit-bullets {
	bottom:-12px;
	border:1px solid #DDD;
}



/* Utility in Homepage */

#testimony{margin-bottom:40px;}
#testimony blockquote{font-size:24px; font-weight:800; line-height:normal; text-align:center; color:#333;}


#utils{padding:0; margin:40px auto 0 auto; width:660px; line-height:1em;}
#utils .util-item{float:left; width:220px; text-align:center; background-size:100% auto; display: block; cursor:pointer}
#utils .util-item.last{border-right:none;}
#utils .util-item img{width:120px; height:120px;}

#webselfcare.util-item {
/* 	background-image: url(../img/selfcare.png); */
/* 	background-repeat: no-repeat; */
/* 	background-position: center center; */
}

#epg.util-item {
/* 	background-image: url(../img/epg.png); */
/* 	background-repeat: no-repeat; */
/* 	background-position: center center; */
}

#comparison.util-item {
/* 	background-image: url(../img/comparison.png); */
/* 	background-repeat: no-repeat; */
/* 	background-position: center center; */
}






/*-------------------------- Product Page Style ----------------------*/


#socmed{position:relative; width:160px; margin:0 0 0 auto;}

.tabs{
	width:100%;
	margin:0 auto;
	margin:40px auto 10px auto;
}

#tab-nav{
	list-style:none;
	margin:0; padding:0;
	position:relative;	
}

#tab-nav li{
	float:left;
	position:relative;
	margin:0 5px 0 0;
	padding:10px;
	background:#999;
	border-radius:5px 5px 0 0;
}

#tab-nav li a{color:#EEE}

#tab-nav li:hover a, #tab-nav li.active a{color:#333;}
#tab-nav li:hover, #tab-nav li.active{background:rgba(240,240,240,.85);}

#tab-nav:after{
	content: "."; display: block; height: 0; clear: both; visibility:hidden;  
}



.tab-container{
	display:none;
	margin:0 auto;
	padding:20px 0;
	width:100%;
	background:rgba(240,240,240,.85);
	border-radius:0 15px 15px 15px;
	
	-moz-transition: opacity .5s ease-out; 
    -webkit-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
}

.tab-container > *{margin:0 40px;}


.zoom{font-size:3em; font-weight:800;}

#packages-container{width:960px; margin:0 auto;}
.packages{width:220px; margin:0 10px; float:left; text-align:center; border-radius:5px 5px 0 0; overflow:hidden;}
.packages p{padding:0;}
.pack-item{width:100%; color:#FFF; text-shadow:0 1px 2px rgba(0,0,0,.5);}
.pack-item h2{font-size:24px; background:#EEE; width:100%; margin:5px 0 0 0; border-radius:5px 5px 0 0; box-shadow:inset 0 0 10px rgba(0,0,0,0.25); line-height:1em; padding:10px 0; text-shadow:0 1px 1px #FFF;}
.pack-item .item-detail p{text-align:center; line-height:1em;}

.pack-item .item-detail{padding:20px 0; border-bottom:1px solid rgba(0,0,0,.25);}
.pack-item .item-price{border-top:1px solid rgba(255,255,255,.25);}

#basic-super{background:#649bbb;}
#basic-super .pack-item h2{color:#649bbb;}

#value-super{background:#e37474;}
#value-super .pack-item h2{color:#e37474;}

#hyper-super{background:#edbb34;}
#hyper-super .pack-item h2{color:#edbb34;}

#smash-super{background:#aa79b5;}
#smash-super .pack-item h2{color:#aa79b5;}



#toc{clear:both; color:#717174; margin-left:20px; padding:10px 0 0 0;}
#toc p{font-size:11px; margin:0; padding:0;}

#banner{margin:0 0 0 0; padding:0; height:480px; overflow:hidden;}
#banner img{margin:0; padding:0;}



/* ===================================================================== */

a#register{
	color:#FFF !important; 
	margin:6px 0 0 0; padding:3px 10px !important; 
	font-size:12px !important;
	background:#C00;
	
	border-radius:5px;
}




/* ====================================================== Channel Lineup ======================================================= */

#lineup{line-height:2.5em;}
#lineup span{padding:3px 10px;}
.genre{background:#ED2024; margin-left:20px; border-radius:3px;color:#FFF;}
.genre:first-child{margin-left:0;}
.arrow-right{
	display:inline-block;
	line-height:0;
	margin:0 !important;
	padding:0 !important;
	width: 0 !important; 
	height: 0 !important; 
	border-top: 5px solid transparent; 
	border-left: 20px solid #ED2024;
	border-bottom: 5px solid transparent;
}

.ch-list{background:none; }










/* --------------------------------------------Footer------------------------------------- */

footer{width:100%; background-image:url(../img/footer-bg.jpg); background-color:#ED2024; margin:0; padding:0; border-top:1px solid #333; position:relative; box-shadow:inset 0 10px 10px rgba(0,0,0,0.25);}

#footer-theme{width:90%; margin:0 auto;}

.footer-menu{
	float:left;
	margin:40px 20px 20px 20px;
}

.footer-menu h4{
	color:#FFF;
	text-shadow:0 -1px 1px rgba(255,255,255,.25);
	font-size:16px;
	font-weight:normal;
}

.footer-menu ul{font-size:12px;}
.footer-menu ul li a{color:#999;}
.footer-menu ul li a:hover{color:#FFF;}
.footer-menu ul li{
	margin:0 0 0 0; padding:5px 0;
	border-top:1px solid #222;
	border-bottom:1px solid #000;
}
.footer-menu ul li:first-child{border-top:none;}
.footer-menu ul li:last-child{border-bottom:none;}

#social{
	color:#999;
}

a.social-links{
	display:block;
	float:left;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	width:24px; height:24px;
}

a#twitter{background-image:url(../img/twitter.png)}
a#twitter:hover{background-image:url(../img/twitter-color.png)}
a#fb{background-image:url(../img/fb.png)}
a#fb:hover{background-image:url(../img/fb-color.png)}
a#pinterest{background-image:url(../img/pinterest.png)}
a#pinterest:hover{background-image:url(../img/pinterest-color.png)}

#sinarmas{text-align:center; background:#FFF; position:absolute; left:20px; bottom:0px; width:140px; padding:6px 0 2px 0; box-shadow:0 -3px 10px rgba(0,0,0,0.25);}
#copy{font-size:11px; color:#FFF;}

