

/* -------------------------------------- Subscribe ----------------------------------- */


#subscribe-ack{
	width:200px;
	font-size:14px;
	position:relative;
	top:40px;
	color:#999;
}

#subscribe-ack h1{color:#F00; font-size:18px; font-weight:normal;}
#subscribe-ack p{font-size:12px; line-height:16px;}

#subscribe-content{
	width:718px; height:auto;
	color:#333;
	margin:20px 0 40px 40px;
/* 	outline:1px solid #CCC; */

	border:1px solid #CCC;
	border-radius:5px;

	position:relative;
	overflow:hidden;
}

#container{width:1440px; display:block; position:relative; left:0;}

#form-container{
	width:718px;
	display:block;
}

#form-container h1{color:#39C;}

#subscribe-form{
	background:rgba(255,255,255,.9);
	padding:40px 0 20px 0;
	border-radius:5px;
}

#subscribe-form input, #subscribe-form textarea{border:1px solid #CCC; border-radius:5px; padding:5px; color:#666; font-family:"Arial", Verdana, Geneva, sans-serif; font-size:12px;}
#subscribe-form label{color:#0C223F; font-size:14px;}

form #subscribe-form input[type='text']{width:200px;}
form #subscribe-form input[type='submit']{cursor:pointer; background:#F00; border:none; width:160px; padding:10px 0; color:#FFF; font-weight:bold;}
form #subscribe-form input[type='submit']:hover{background:#0C223F; color:#FFF;}
form #subscribe-form span{color:#F00; font-size:14px; font-weight:bold}

ul.form{overflow:hidden;}
ul.form li{margin:0 40px; padding:10px; /*background:rgba(30,200,255,.5);*/}
ul.form li.even{}


div.input .error{
	padding:0;
	padding-left: 20px;
	background: url(../images/warning.png) no-repeat center left;
	font-size:13px;
	color:#C00;
	font-weight:normal;
}

#pack-info{
	display:none;
	padding:20px 0;
	color:#333;
	width:100%;
}

#pack-info #pack-name, #pack-info #pack-desc{
	margin:10px 0;
}


#pack-info #pack-name{
	font-size:18px; 
	font-weight:bold;
	color:#333;

/* 	background:#39C; */	
/* 	padding:5px 10px; */
/* 	border-radius:3px; */
}

#pack-info #pack-name span.bundle{	
	font-size:14px; 
	font-weight:bold; 
/* 	color:rgba(255,255,255,.65); */
	color:#39C;
}

#pack-info #pack-desc{
	font-size:14px;
	padding:10px; 
	border-top:1px solid #CCC;	
	border-bottom:1px solid #CCC;	
}